body{
    text-align: center;
    background-color: #00203FFF;
    color: #ADEFD1FF;
}

.label{
    display: block;
    padding: 1.2rem;
    font-size: 1.2rem;
}

.input{
    border: 2px solid;
    padding: 0.3rem;
    font-size: 1.2rem;
}

.btn{
    cursor: pointer;
    background-color: transparent;
    color: #ADEFD1FF;
    padding: 0.4rem;
    border: 1px solid #ADEFD1FF;
    border-radius: 1rem;
}
.outputDiv{
    margin-top: 1rem;
    height: 60px;
}

.footer ul {
    padding-inline-start: 0rem;
}

.list-inline {
    display: inline;
    padding: 0.5rem
}
.container-footer{
    background-color: #ADEFD1FF;
    color: #00203FFF;
    margin-top: 2rem;
    padding: 1rem;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}
.icon{
    width: 2rem;
    height: 2rem;
}
